.mainSignUpContainer{
    display: grid;
    grid-template-columns:60% 40%;
    
}
.background_signup{
    background: #60acae;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}
.details_signup{
   height: 100vh;
   
   
}

.background_heading{
    display: block;
    margin: auto;
    color:white;

    
    
}

.background_para{
    display: block;
    margin: auto;
    color:white;
    
}