.sign_up_card {
    height: 80vh;
    width: 70vw;
    margin: auto;
    border-radius: 8px;
    border: var(--border-transparent);
    display: grid;
    justify-content: center;
    box-shadow: var(--box-shadow-card);
    grid-template-columns: 60% 40%;
}

.btn-signup {
    margin-top: 60px !important;
}

.main_signup_container {

    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
}

.background_signup {
    border-radius: 0px 8px 8px 0px;
    background-color: rgb(96, 172, 174, 0.8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

.details_signup {
    border-radius: 8px 0px 0px 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background_heading {
    display: block;
    margin: auto;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;

}

.background_para {
    display: block;
    margin: auto;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.btn-signup:hover {
    background: var(--bg-secondary);
    cursor: pointer;
    transition: 500ms;
}

.signup__header{
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    color: var(--bg-secondary);
    margin-bottom: 40px !important;
}


.details_signup input{
    width: 60%;
}

.details_signup input:focus-visible{
    border : var(--border-transparent) !important;
    
}

.btn-log-in{
    background: var(--bg-secondary);
    margin-top: 30px !important;
}

.btn-log-in:hover{
    background-color: var(--bg-primary);
    /* color: var(--bg-secondary); */
}
.details_signup small{
    margin-top: 4px !important;
    padding: 5px !important;
    font-family:Georgia, 'Times New Roman', Times, serif;
}