* {
  margin: 0 !important;
  padding: 0 !important;
  --bg-secondary: rgba(7, 168, 174);
  --bg-primary : rgb(96, 172, 174);
  --border-transparent : 0px solid transparent;
  --box-shadow-btn:  rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --box-shadow-card : rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

.btn {
  border-radius: 30px;
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 10px !important;
  height: 50px;
  width: 200px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  font-weight: bold;
  box-shadow: var(--box-shadow-btn);
}

input {
  padding: 15px !important;
  margin: 5px !important;
  color:black;
  background-color: #60acae2b;
  border-radius: 5px;
  border : 0px solid transparent !important;
}

input:focus{
  outline: none !important;
}